.splitter{
    @media screen and (max-width: 768px) {
        border: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}

.services i{
    @include gradient;
    font-size: 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}